@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

.circle {
  stroke-dasharray: 100000, 450;
  stroke-dashoffset: 100000;
  transform-origin: center;
  animation: lineAnimation 1s ease-in 2s forwards,
    scaleDownAndChangeColor 1s linear 2s both;
  transition: all 2s;
}
.shrinking {
  transform-origin: center;
  animation: shrinking 2s ease-in-out 2s alternate infinite;
}
.float {
  animation: float 2s ease-in-out 2s alternate infinite;
}

@keyframes shrinking {
  to {
    transform: scaleX(0.7);
  }
}

@keyframes float {
  to {
    transform: translateY(-10px);
  }
}
.hand-typing {
  animation: typing 3s linear alternate infinite backwards;
}

.eye-typing {
  animation: typing 3s linear alternate infinite backwards;
}

@keyframes typing {
  from {
    transform: translateX(-2.5px);
  }
  to {
    transform: translateX(2.5px);
  }
}
.drink {
  animation: fall-down 1s cubic-bezier(0.42, 0, 0.31, 0.93) 1s backwards,
    float 2s ease-in-out 2s alternate infinite;
}
@keyframes fall-down {
  0% {
    transform: translateY(-600%);
  }

  50% {
    transform: translateY(-0%);
  }
  60% {
    transform: translateY(-5%);
  }
  70% {
    transform: translateY(-0%);
  }
  80% {
    transform: translateY(-3%);
  }
  90% {
    transform: translateY(-0%);
  }
}
.boxes {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(180deg);
  }
}

.coding::before,
.coding::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
}

.coding::before {
  background: #303941;
  animation: typewriter 4s steps(24) 1s infinite;
}

.coding::after {
  width: 0.05em;
  background: #ffc93d;
  animation: typewriter 4s steps(24) 1s infinite,
    blinker 1s steps(24, end) infinite;
}

@keyframes typewriter {
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes blinker {
  to {
    background: transparent;
  }
}

@keyframes lineAnimation {
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

@keyframes scaleDownAndChangeColor {
  0% {
    stroke: #ffc93d;
    opacity: 0;
  }
}

.fade-up {
  animation: fade-up 1s ease backwards;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
*::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  position: absolute;
  right: 0;
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: #f9f9f9;
  border-radius: 100vh;
}

.dark-scrollbar-thumb::-webkit-scrollbar-thumb {
  background: #272d32;
  border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-main font-['poppins'] overflow-x-hidden leading-7;
  }
  h4 {
    @apply text-xl font-bold tracking-wider text-MyWhite;
  }
  h3 {
    @apply text-2xl lg:text-4xl text-MyWhite;
  }
  h2 {
    @apply text-lg lg:text-3xl text-MyYellow font-bold tracking-wider;
  }
  h1 {
    @apply text-8xl lg:text-9xl xl:text-[12rem] text-MyYellow;
  }
  p {
    @apply lg:text-lg text-MyWhite tracking-wider max-w-[500px] lg:max-w-[700px];
  }
  b {
    @apply text-MyWhite font-bold tracking-wider;
  }
  .role {
    @apply hover:text-main hover:bg-MyWhite hover:scale-[0.9] transition-all duration-200 ease-out;
  }
  .dilate-onHover {
    @apply hover:scale-[1.1] transition-all duration-200 ease-out z-20;
  }
}
